.meals-list {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.meals-name {
  margin: 0 0 0.25rem 0;
  font-family: storybook;
}

.meals-desc {
  font-style: italic;
}

.meals-price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #EE6983;
  font-size: 1.25rem;
}
