.about-title {
  font-family: "Josefin Sans", sans-serif;
  color: #212025;
  margin-top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
}
.about-row p {
  font-size: 19px;
  font-family: storybook;
  color: #ee6983;
}

.about-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
